<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tfg">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".javi.SplashScreenActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".javi.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".javi.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".javi.MainActivity"
            android:exported="true" />
        <activity
            android:name=".javi.PlanAnualActivity"
            android:exported="true" />
        <activity
            android:name=".javi.PlanMensualActivity"
            android:exported="true" />
        <activity
            android:name=".javi.SuscripcionPlanAnualActivity"
            android:exported="true" />
        <activity
            android:name=".javi.SuscripcionPlanMensualActivity"
            android:exported="true" />
        <activity
            android:name=".javi.SuscripcionMensualAnualConfirmActivity"
            android:exported="true" />
        <activity
            android:name=".javi.PrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".javi.PasarelaActivity"
            android:exported="true" />
    </application>

</manifest>